.productsCarousel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #44444482;
  border-radius: 15px;
  width: 95vw;
  padding: 1rem 3rem;
  gap: 1rem;

  .carouselHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;

    span {
      font-weight: bolder;
      font-size: 1.25rem;
    }
  }
}

.containerCarousel {
  display: flex;
  overflow: hidden;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 100%;
  position: relative;

  &:hover > .actionButton {
    opacity: 1;
  }
}

.carouselViewport {
  width: 90vw;
  overflow: hidden;
}

.carouselItems {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.item {
  min-width: calc(100% / 6);
  padding: 5px;
}

.actionButton {
  cursor: pointer;
  position: absolute;
  z-index: 9999;
  transition: 0.25s;
  padding: 10px;
  border-radius: 50%;
  opacity: 0;
  font-size: 1.5rem;
}

.actionButton:hover {
  background: #5d5d5d54;
}

.previous {
  left: 1.5rem;
}

.next {
  right: 1.5rem;
}
