.produtoPageBody {
  display: grid;
  grid-template-areas: "box1 box2";
  gap: 3rem;
  padding: 2rem;

  .produtoImagens,
  .produtoInfo,
  .produtoDescricao {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
  }

  .produtoImagens {
    display: grid;
    grid-template-areas: "box1 box3" "box2 box3";
    align-items: center;
    gap: 1.5rem;

    .miniaturaPrimaria img,
    .miniaturaSecundaria img {
      width: 60px;
      height: 60px;
      border-radius: 10px;
      cursor: pointer;
    }

    .imagem img {
      border-radius: 10px;
      width: 100%;
    }
  }

  .produtoInfo {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    .produtoNome {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .precoBase {
      text-decoration: line-through;
      font-size: 0.9rem;
      color: #ccc;
      margin-top: 1rem;
    }

    .precoPromocional {
      font-size: 1.3rem;
      font-weight: 400;
    }

    .formaPgto {
      margin-top: 1rem;

      span {
        display: flex;
        align-items: center;
        gap: 3px;
        border: 1px solid #ccc;
        width: fit-content;
        padding: 5px 12px;
        border-radius: 7px;
        cursor: pointer;
        transition: 0.25s;

        &:hover {
          background: #cccccc6a;
        }
      }
    }

    .tamanhosRoupas {
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      .tamanhos {
        margin-top: -0.45rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        span {
          border: 1px solid #ccc;
          border-radius: 10px;
          padding: 0.5rem 1rem;
          cursor: pointer;
          transition: 0.25s;
          &:hover {
            background: #ccc;
          }
        }
      }
    }

    .tamanhosCalcados {
      display: flex;
      margin-top: 1.25rem;

      flex-direction: column;
      gap: 0.25rem;
      .tamanhos {
        margin-top: -0.45rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        span {
          border: 1px solid #ccc;
          border-radius: 10px;
          padding: 0.5rem 1rem;
          cursor: pointer;
          transition: 0.25s;
          &:hover {
            background: #ccc;
          }
        }
      }
    }

    .quantityForm {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;

      .inputBox {
        position: relative;
        gap: 1rem;
        display: flex;

        input {
          text-align: center;
          padding: 0.5rem 0.8rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
          width: 100px;
          font-size: 1.15rem;
        }

        svg {
          position: absolute;
          cursor: pointer;
          color: #ccc;
        }

        .minusBtn {
          left: 3px;
          top: 50%;
          transform: translateY(-50%);
        }

        .plusBtn {
          right: 3px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      button {
        border: none;
        background: #05164b;
        color: #ffff;
        padding: 1rem;
        font-weight: 600;
        border-radius: 10px;
        font-size: 1.2rem;
        transition: 0.25s;

        &:hover {
          background: #082c95;
        }
      }
    }
  }
}
