.navbarSection {
  display: flex;
  flex-direction: column;

  .navbarHeader {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .searchForm {
      position: relative;
      margin-left: 4rem;
      width: 400px;

      input {
        padding: 0.3rem 1.2rem;
        border: 1px solid #98989874;
        border-radius: 50rem;
        outline: none;
        font-size: 1.05rem;
        width: 100%;
        box-sizing: border-box;
      }

      button {
        position: absolute;
        right: 0.3rem;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        border-radius: 50rem;
        background: #1079d5;
        padding: 0.2rem 0.8rem;
        color: #fff;
        font-size: 1.05rem;
      }
    }

    .searchResults {
      position: absolute;
      top: 129px;
      left: 290px;
      z-index: 9999;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    .whatsappSupport {
      margin-left: 3rem;
      display: flex;
      gap: 0.6rem;
      align-items: center;
      font-size: 0.8rem;

      svg {
        font-size: 1.65rem;
      }
    }

    .findOrder {
      margin-left: 2rem;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      gap: 0.9rem;
      font-size: 1.02rem;
      border-right: 1px solid #1070fe;
    }

    .account {
      margin-left: 2rem;
      display: flex;
      align-items: center;
      gap: 0.9rem;
      font-size: 1.02rem;
    }

    .accountIcon {
      margin-left: 0.89rem;
      display: flex;
      align-items: center;
      gap: 0.9rem;
      font-size: 1.25rem;
    }

    .cartIcon {
      margin-left: 1.25rem;
      display: flex;
      align-items: center;
      gap: 0.9rem;
      font-size: 1.25rem;
      position: relative;

      span {
        font-size: 0.8rem;
        position: absolute;
        right: -16px;
        top: -9px;
        background: #1070fe;
        padding: 0.004rem;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
      }
    }
  }

  .navbarContainer {
    margin-top: -2rem;
    padding: 2rem 9rem;

    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      font-size: 0.8rem;
      font-weight: bold;

      a {
        text-decoration: none;
        color: #000;
        transition: 0.25s;

        &:hover {
          color: #1070fe;
        }
      }
    }
  }
}
